# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# SQLite / APScheduler temp db
*.db
*.sqlite3